/* Basic styles */
nav {
  background-color: #ccc; /* Couleur de fond gris barre navigation*/
  border: 2px solid red; /* Liseré rouge */
  padding: 10px; /* Marge intérieure */
}

/* Basic styles */

.logo img {
  width: 100vw;
  height: 100vh;
  margin-bottom: 20px; /* Espacement entre le logo et le menu */
}

.menu-toggle button {
  display: none; /* Caché par défaut sur les grands écrans */
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

.menu {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.menu li {
  margin-right: 20px;
}

.menu li:last-child {
  margin-right: 0;
}

.menu a {
  text-decoration: none;
  color: black;
}

/* Media query pour activer le bouton sur les petits écrans */
@media screen and (max-width: 768px) {
  .menu {
    display: none; /* Caché par défaut sur les petits écrans */
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    top: 50px;
    left: 125px;
    padding: 10px;
    width: 50%;
  }

  .menu.active {
    display: flex; /* Afficher lorsque le menu est activé */
  }

  .menu-toggle button {
    display: block; /* Afficher le bouton sur les petits écrans */
  }
  .search {
    display: none; /* Masquer l'input sur les petits écrans */
  }
}

.icons {
  display: inline-block;
  vertical-align: middle;
}
h2 {
  text-align: center;
  margin-left: 5px;
}
#logo {
  width: 100px; /* Ajuster la taille du logo */
  height: auto; /* Assurer la proportionnalité */
}

.menu {
  color: black; /* Couleur de texte noire */
  text-decoration: none; /* Supprimer la décoration du lien */
  margin-right: 20px; /* Espacement entre les éléments du menu */
}

.search {
  padding: 5px; /* Marge intérieure du champ de recherche */
  border: 1px solid #999; /* Bordure grise */
}
/* container global*/

.best-movies-container {
  position: relative;
  left: 0;
  /*display: flex;
  */
  height: 100%;
  margin-top: 10%;
  max-width: 10000px;
  /*Coins arrondis*/
  border: 5px solid black;
  /* Bordure avec liseré noir du container des films*/
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
#best {
  width: 29%;
  height: 70%;
  margin: auto;
  position: absolute;
  gap: calc(20px + 10%);
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  text-align: center;
  display: block;
  text-align: center;
}

.bestCover-in-middle {
  display: flex;
  justify-content: center;
  text-align: center;
  vertical-align: middle;
}
#button_play {
  font-size: 1.5em;
  /*Taille de la police augmentée*/
  padding: 15px 30px;
  /*Rembourrage plus grand*/
  /* Coins arrondis */
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
  border-radius: 25px;
  margin-left: 5px;
}
#button_play:hover {
  background-color: white;
  color: rgb(255, 38, 0);
  font-size: 1.1875em;
  margin-left: 5px;
}
#btn-best-movie {
  /*width:100%;
    height:44%;
    background: rgb(255, 38, 0);
    */
  width: 150px;
  height: 50px;

  background-color: red;
  color: white;
  font-size: 0.9em;
  cursor: pointer;
  transition: background-color 0.3s ease;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: 50px;
  border-radius: 25px;
}
#btn-best-movie:hover {
  background-color: darkred;
}

.movies {
  border-radius: 5px; /* Coins arrondis */
  display: flex;
  /* overflow-x: auto; */
  gap: 20px;
}
#bestImage {
  /* position: relative; */
  /* justify-content: center; */
  /* align-items: center; */
  /* vertical-align: left; */
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: 50px;
  height: 250px;
  display: block;
}

#bestDescription {
  margin: 0;
}
.movies-container {
  padding: 5px; /* Marge intérieure */
  margin-bottom: 5px; /* Marge inférieure */
  width: auto;
  height: 50%;
}

.movie {
  flex: 0 0 auto;
  width: 200px;
  padding: 10px;
  background-color: #f0f0f0;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.movie img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.movie-info {
  margin-top: 10px;
  text-align: center;
}
/* Modal styles */
.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100vw; /* Utilisation de la largeur de l'écran */
  height: 100vh; /* Utilisation de la hauteur de l'écran */
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  max-width: 90%; /* Ajustement de la largeur maximale pour s'adapter à l'écran */
  max-height: 90%; /* Ajustement de la hauteur maximale pour s'adapter à l'écran */
  overflow: auto; /* Activation du défilement si nécessaire */
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

button {
  border-radius: 5px;
  cursor: pointer;
  color: white;
  background: red;

  -webkit-transition: 800ms ease all;
  -moz-transition: 800ms ease all;
  -ms-transition: 800ms ease all;
  -o-transition: 800ms ease all;
  transition: 800ms ease all;
}

.container {
  width: 100%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.carousel-view {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  padding: 44px 0;
  transition: all 0.25s ease-in;
}

.carousel-view .item-list {
  max-width: 950px;
  width: 70vw;
  padding: 50px 10px;
  display: flex;
  gap: 48px;
  scroll-behavior: smooth;
  transition: all 0.25s ease-in;
  -ms-overflow-style: none; /* IE and Edge */
  overflow: auto;
  scroll-snap-type: x mandatory;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.item-list::-webkit-scrollbar {
  display: none;
}

.prev-btn*,
.next-btn* {
  background: none;
  cursor: pointer;
}

/* Styles pour le bouton "Haut de page" */
.scroll-to-top {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 99;
  background-color: red;
  color: black;
  border: none;
  border-radius: 50%;
  padding: 10px 15px;
  cursor: pointer;
}

.scroll-to-top:hover {
  background-color: #0056b3;
}
